<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MT Strategy</title>

        <!-- Icono -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icono2.png') }}" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body>
    
        <!-- Barra de Navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='icono2.png') }}" width="30"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/es">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/hvert.mt/">Contacto</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Cryptos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/BTC">Bitcoin</a></li>
                                <li><a class="dropdown-item" href="/ETH">Ethereum</a></li>
                                <li><a class="dropdown-item" href="/BNB">BNB</a></li>
                                <li><a class="dropdown-item" href="/SOL">Solana</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/unavailable">Public Signals</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/request">Request a Crypto</a></li>
                            </ul>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="/">Eng</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Si quito esto ya funciona la barra de navegacion responsiva -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    
        <!-- Inicio -->
        <header class="py-5 bg-image-full" style="background-image: url(static/fondo.jpg)">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{{ url_for('static', filename='icono2.png') }}" width="200px" height="150px" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">MT Strategy</h1>
                <p class="text-white-50 mb-0">Crypto-Python Bot</p>
            </div>
        </header>
    
        <!-- Primer texto -->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Sobre el Bot</h2>
                        <p class="lead"></p>
                        <p class="mb-0">Este bot está diseñado para realizar operaciones en el mercado de futuros de criptomonedas, con una estrategia definida, el bot realiza operaciones automáticamente a todos los usuarios en el par que hayan elegido</p>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Imagen en PNG -->
        <div>

            <img src="{{ url_for('static', filename='fondo2.png') }}" class="img-fluid rounded mx-auto d-block" width="300px"> 

        </div>

        <!-- Segundo texto -->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Cómo funciona?</h2>
                        <p class="lead"></p>
                        <p class="mb-0">Las señales de la estrategia son enviadas a URLs especificas a traves del metodo 'POST', estas señales declararán la mejor entrada y salida posible para cada operación
                            <br><br>
                            El usuario previamente ya habrá establecido sus API keys dadas por el exchange incluyendo los parametros para poder usar la estrategia
                            <br><br>                           
                            Cada cripto tendra su propia estrategia y exchange disponibles, si no encuentras tu exhcange favorito puedes solcitarlo <a href="/request-es" class="link-secondary">aqui</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Final -->
        <footer class="py-5 bg-dark">
            <div class="container text-center">>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='telegram.png') }}" alt="Telegram"/></a></div>
        </footer>
    
    </body>

</html>

