<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MT Strategy</title>

        <!-- Icono -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icono2.png') }}" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body>
    
        <!-- Barra de Navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='icono2.png') }}" width="30"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/es">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/hvert.mt/">Contacto</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Cryptos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/BTC">Bitcoin</a></li>
                                <li><a class="dropdown-item" href="/ETH">Ethereum</a></li>
                                <li><a class="dropdown-item" href="/BNB">BNB</a></li>
                                <li><a class="dropdown-item" href="/SOL">Solana</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/unavailable">Public Signals</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/request">Request a Crypto</a></li>
                            </ul>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="/request">Eng</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Si quito esto ya funciona la barra de navegacion responsiva -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    
        <!-- Primer texto -->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <h2>Solicitudes</h2>
                        <p class="lead"></p>
                        <p class="mb-0">Como organización nos importa la experiencia que tenga el usuario al momento de utilizar nuestros servicios, por eso creamos este apartado de solicitudes para que el usuario pueda contribur a la causa y compartirnos sus opiniones que seran muy bien recibidas. A continuacion, puedes llenar el formulario para proponer el agregado de mas exchanges o mas criptomonedas para poder operar con el bot, tambien puedes solicitar el acceso a las versiones betas cerradas del bot y poder trabajar con nosotros haciendo de esta una herramienta mejor<br><br></p>
                    </div>
                </div>
                
                <form action="/request-es" method="POST" class="needs-validation" novalidate>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="form-floating">
                                <input class="form-control mt-3" placeholder=" " id="Name" type="text" name="name" required></input>
                                <label for="Name">Nombre(s)</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-floating">
                                <input class="form-control mt-3" placeholder=" " id="Last Name" type="text" name="lastName" required></input>
                                <label for="Last Name">Apellido(s)</label>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="form-floating">
                                <input class="form-control mt-3" placeholder=" " id="Email" type="email" name="email" required></input>
                                <label for="Name">Correo Electronico</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-floating">
                                <select class="form-select mt-3" id="floatingSelect" aria-label="Floating label select example " name="type" required>
                                  <option value="Exchange">Exchange</option>
                                  <option value="Cryptocurrencie">Criptomoneda</option>
                                  <option value="Beta">Accesso Beta</option>
                                  <option value="Another">Otra</option>
                                </select>
                                <label for="floatingSelect">Selecciona tu tipo de solicitud</label>
                              </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="form-floating">
                                <textarea class="form-control mt-3" placeholder=" " id="floatingTextarea2" style="height: 100px" name="description" required></textarea>
                                <label for="floatingTextarea2">Describe tu solicitud y por que deberiamos considerarla</label>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-secondary mt-3">Enviar</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
        
                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                        })
                    })()
                </script>
                </form>
            </div>
        </section>

        <!-- Final -->
        <footer class="py-5 bg-dark">
            <div class="container text-center">>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='telegram.png') }}" alt="Telegram"/></a></div>
        </footer>
    
    </body>

</html>

