
:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.as{
    min-height: 3.125rem;
    font-weight: 600; 
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-1 {
    background-image: url('what-is-robot-trading.jpg');
    background-size: cover;
    background-position: right;

}

.img-2 {
    background-image: url('stonks.png');
    background-size: cover;
    background-position: right -10px top;
}

.mtlogo{
    width: 40px;
}
