<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MT Strategy</title>

        <!-- Icono -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icono2.png') }}" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body>
    
        <!-- Barra de Navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='icono2.png') }}" width="30"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/hvert.mt/">Contact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Cryptos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="/BTC">Bitcoin</a></li>
                              <li><a class="dropdown-item" href="/ETH">Ethereum</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="/request">Request a Crypto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Si quito esto ya funciona la barra de navegacion responsiva -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    
        <!-- Inicio -->
        <header>
            <div class="text-center my-5">
                <h1 class="fs-3 fw-bolder"><br><br>Bitcoin<br></h1>
                <img class="img-fluid rounded-circle mb-4" src="{{ url_for('static', filename='btc.png') }}" width="100px" height="100px" alt="..." />
            </div>
        </header>
    
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Factors</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <td>Squeeze Momentum</td>
                            <td><span class="badge rounded-pill bg-{{ SqueezeColor }}">{{ Squeeze }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>SQZMOM Status</td>
                            <td><span class="badge rounded-pill bg-{{ SqzmomColor }}">{{ Sqzmom }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Hull</td>
                            <td><span class="badge rounded-pill bg-{{ HullColor }}">{{ Hull }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Sar</td>
                            <td><span class="badge rounded-pill bg-{{ SarColor }}">{{ Sar }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Sniper</td>
                            <td><span class="badge rounded-pill bg-warning">NULL</td></span></td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>In Operation</td>
                            <td><span class="badge rounded-pill bg-{{ OperationColor }}">{{ Operation|upper }}</span>     <span class="badge rounded-pill bg-{{ SideColor }}">{{ Side }}</span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Current Price</td>
                            <td><span class="badge rounded-pill bg-{{ SarColor }}">${{ Price }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Entry Price</td>
                            <td><span class="badge rounded-pill bg-{{ epColor }}">${{ EntryP }}</td></span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Stop Loss</td>
                            <td><span class="badge rounded-pill bg-{{ slColor }}">${{ StopL }}</td></span></td>
                        </tr>
                    </tbody>
                </table>
              </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2"></div>
                <div class="col-8">
                    <h3>Available Exchanges</h3>
                    <ul>
                        <li><a href="https://www.binance.com/" class="link-secondary">Binance</a></li>
                        <li><a href="https://www.bybit.com/" class="link-secondary">Bybit</a></li>
                        <li>Request your favorite exchange <a href="/request" class="link-primary">here</a></li>
                    </ul>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <br><br>

        <!-- Final -->
        <footer class="py-5 bg-dark">
            <div class="container text-center">>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter"/></a>
                <a class="mx-2" href="https://www.instagram.com/hvert.mt/"><img width="30" src="{{ url_for('static', filename='telegram.png') }}" alt="Telegram"/></a></div>
        </footer>
    
    </body>

</html>



