<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>MT Strategy</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Icon -->
	<link href="{{ url_for('static', filename='img/icono2.png') }}" rel="icon">

	<!-- CSS Imports -->  
	<div>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<!-- Main CSS File -->
		<link href="{{ url_for('static', filename='assets/css/dashboardStyle.css') }}" rel="stylesheet">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	</div>

</head>

<body>

	<!-- Main -->
	<main>
		<div class="container">
			<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
						
							<!-- Logo -->
							<div class="d-flex justify-content-center py-4">
								<a href="/" class="logo d-flex align-items-center w-auto">
								<span class="d-none d-lg-block">MT Strategy</span>
								</a>
							</div>
				
							<div class="card mb-3">
								<div class="card-body">
				
									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Crea una cuenta</h5>
										<p class="text-center small">Ingresa tus datos para registrarte</p>
									</div>
					
									<form action="/Register" method="POST" class="row g-3 needs-validation" novalidate>
										<div class="col-12">
											<label for="yourName" class="form-label">Nombre(s)</label>
											<input type="text" name="name" class="form-control" id="yourName" value="{{ name }}" required>
											<div class="invalid-feedback">Ingresa tu nombre</div>
										</div>
					
										<div class="col-12">
											<label for="yourUsername" class="form-label {% if usernameError is true %} is-invalid {% endif %}">Nombre Usuario</label>
											<input type="text" name="username" class="form-control {% if usernameError is true %} is-invalid {% endif %}" id="yourUsername" value="{{ username }}" required>
											<div class="invalid-feedback">{% if usernameError is true %} Este nombre de usuario ya está en uso {% else %} Escoge un nombre de Usuario {% endif %}</div>
										</div>

										<div class="col-12">
											<label for="yourEmail" class="form-label {% if emailError is true %} is-invalid {% endif %}">Correo Electronico</label>
											<input type="email" name="email" class="form-control {% if emailError is true %} is-invalid {% endif %}" id="yourEmail" value="{{ email }}" required>
											<div class="invalid-feedback">{% if emailError is true %} Este correo ya está en uso {% else %} Ingresa un correo valido {% endif %}</div>
										</div>
					
										<div class="col-12">
											<label for="yourPassword" class="form-label">Contraseña</label>
											<input type="password" name="password" class="form-control" id="yourPassword" required>
											<div class="invalid-feedback">Ingresa una contraseña</div>
										</div>

										<div class="col-12">
											<label for="usercode" class="form-label {% if usercode is true %} is-invalid {% endif %}">Codigo de acceso</label>
											<input type="password" name="usercode" class="form-control" id="usercode" required>
											<div class="invalid-feedback">{% if usercode is true %} Codigo de acceso incorrecto {% else %} Ingresa el codigo de acceso {% endif %}</div>
										</div>
					
										<div class="col-12">
											<div class="form-check">
												<input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
												<label class="form-check-label" for="acceptTerms">Estoy de acuerdo con los <a href="#">terminos y condiciones</a></label>
												<div class="invalid-feedback">Debes aceptar los terminos y condiciones</div>
											</div>
										</div>
										<div class="col-12">
											<button class="btn btn-primary w-100" type="submit">Registrarme</button>
										</div>
										<div class="col-12">
											<p class="small mb-0 text-center">Ya tienes una cuenta? <a href="/Login">Inicia sesión aqui</a></p>
										</div>

										<script>
											(function () {
											'use strict'
											var forms = document.querySelectorAll('.needs-validation')
											Array.prototype.slice.call(forms)
												.forEach(function (form) {
												form.addEventListener('submit', function (event) {
													if (!form.checkValidity()) {
													event.preventDefault()
													event.stopPropagation()
													}
								
													form.classList.add('was-validated')
												}, false)
												})
											})()
										</script>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- JS Imports -->
	<div>
		<script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</div>

</body>

</html>