{% extends "Dashboard/template.html" %}

{% block content%}

	<!-- ======= Side-bar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">
	
			<!-- Dashboard -->
			<li class="nav-item">
				<a class="nav-link" href="/Dashboard">
					<i class="bi bi-columns-gap"></i>
					<span>Panel de Control</span>
				</a>
			</li>
	
			<!-- Notificaciones -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Notifications">
					<i class="bi bi-bell"></i>
					<span>Notificaciones</span>
				</a>
			</li>
	
			<!-- Bot -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#bots-nav" data-bs-toggle="collapse">
				  	<i class="bi bi-robot"></i><span>Bots</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="bots-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					{% for i in user.data.bots %}
						<li>
							<a href="/Bot/{{ i }}">
								<i class="bi bi-circle"></i><span>Bot {{ loop.index }}</span>
							</a>
						</li>
					{% endfor %}
					<li>
						<a href="/Bot/create">
							<i class="bi bi-circle"></i><span>Crear Bot</span>
						</a>
					</li>
				</ul>
			</li>
	
			<!-- Perfil -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Profile">
					<i class="bi bi-person"></i>
					<span>Perfil</span>
				</a>
			</li>
	
			<!-- Ayuda -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Help">
					<i class="bi bi-question-circle"></i>
					<span>Ayuda</span>
				</a>
			</li>
	
	</aside>
	
	<!-- ======= Main ======= -->
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Panel de Control</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/Dashboard">Panel de Control</a></li>
					<li class="breadcrumb-item active">Inicio</li>
				</ol>
			</nav>
		</div>
	
		<section class="section dashboard">

			<div class="row mb-3" >
				<script src="https://www.cryptohopper.com/widgets/js/script"></script>
				<div class="cryptohopper-web-widget" data-id="2"></div>
			</div>
	
			<div class="row" >
				<!-- Bitcoin Card -->
				<div class="col-xxl-4 col-md-4">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Bitcoin</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-currency-bitcoin"></i>
								</div>
								<div class="ps-3">
									<h6>${{ "{:,}".format(data.btcPrice|int) }}</h6>
									{% if data.btcChange > 0 %} 
										<span class="text-success small pt-1 fw-bold">+{{ data.btcChange|round(2, 'ceil') }}%</span>
									{% else %}
										<span class="text-danger small pt-1 fw-bold">{{ data.btcChange|round(2, 'ceil') }}%</span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Ethereum Card -->
				<div class="col-xxl-4 col-md-4">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Ethereum</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-suit-diamond-fill"></i>
								</div>
								<div class="ps-3">
									<h6>${{ "{:,}".format(data.ethPrice|int) }}</h6>
									{% if data.ethChange > 0 %} 
										<span class="text-success small pt-1 fw-bold">+{{ data.ethChange|round(2, 'ceil') }}%</span>
									{% else %} 
										<span class="text-danger small pt-1 fw-bold">{{ data.ethChange|round(2, 'ceil') }}%</span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Portafolio Card -->
				<div class="col-xxl-4 col-md-4">
					<div class="card info-card revenue-card">
						<div class="card-body">
							<h5 class="card-title">Portafolio</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-currency-dollar"></i>
								</div>
								<div class="ps-3">
									<h6>$350</h6>
									<span class="text-success small pt-1 fw-bold">+12.5%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	

			<div class="row">
				<!-- Columna lado izquierdo -->
				<div class="col-lg-8">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#">Hoy</a></li>
										<li><a class="dropdown-item" href="#">Esta Semana</a></li>
										<li><a class="dropdown-item" href="#">Este Mes</a></li>
									</ul>
								</div>
							
								<div class="card-body">
									<h5 class="card-title">Reporte</h5>
									<div id="reportsChart"></div>
									<script>
										document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series:     [{name: 'Bot', data: [0, 40, 28, 51, 42, 82, 96]}],
											chart:      {height: 350, type: 'area', toolbar: {show: true}},
											markers:    {size: 4},
											colors:     ['#4154f1'],
											dataLabels: {enabled: false},
											stroke:     {curve: 'smooth', width: 2},
											tooltip:    {x: {format: 'dd/MM/yy HH:mm'},},
											fill: {
												type: "gradient",
													gradient: {
													shadeIntensity: 1,
													opacityFrom: 0.3,
													opacityTo: 0.4,
													stops: [0, 90, 100]}},
											xaxis: {
												type: 'datetime',
												categories: 
													["2023-09-19T00:00:00.000Z", 
													 "2023-09-19T01:30:00.000Z", 
													 "2023-09-19T02:30:00.000Z", 
													 "2023-09-19T03:30:00.000Z", 
													 "2023-09-19T04:30:00.000Z", 
													 "2023-09-19T05:30:00.000Z", 
													 "2023-09-19T06:30:00.000Z"]}
										}).render();
										});
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Columna lado derechos -->
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body pb-0">
							<h5 class="card-title">Portafolio</h5>
							<div id="trafficChart" style="min-height: 400px;" class="echart"></div>
							<script>
								document.addEventListener("DOMContentLoaded", () => {
								echarts.init(document.querySelector("#trafficChart")).setOption({
									avoidLabelOverlap: false,
									tooltip:   {trigger: 'item'},
									legend:    {top: '5%', left: 'center'},
									series:    [{name: 'Access From', type: 'pie', radius: ['40%', '70%'],
									label:     {show: false, position: 'center'},
									emphasis:  {label: {show: true, fontSize: '18', fontWeight: 'bold'}},
									labelLine: {show: false},
									data: [
										{value: 1048, name: 'Ethereum'},
										{value: 735,  name: 'Tether'},
										{value: 262,  name: 'Bitcoin'}]}]});});
							</script>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	</main>

{% endblock%}