{% extends "Dashboard/template.html" %}

{% block content%}

    <!-- ======= Side-bar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">
	
			<!-- Dashboard -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Dashboard">
					<i class="bi bi-columns-gap"></i>
					<span>Panel de Control</span>
				</a>
			</li>
	
			<!-- Notificaciones -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Notifications">
					<i class="bi bi-bell"></i>
					<span>Notificaciones</span>
				</a>
			</li>
	
			<!-- Bot -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#bots-nav" data-bs-toggle="collapse">
				  	<i class="bi bi-robot"></i><span>Bots</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="bots-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					{% for i in user.data.bots %}
						<li>
							<a href="/Bot/{{ i }}">
								<i class="bi bi-circle"></i><span>Bot {{ loop.index }}</span>
							</a>
						</li>
					{% endfor %}
					<li>
						<a href="/Bot/create">
							<i class="bi bi-circle"></i><span>Crear Bot</span>
						</a>
					</li>
				</ul>
			</li>
	
			<!-- Perfil -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Profile">
					<i class="bi bi-person"></i>
					<span>Perfil</span>
				</a>
			</li>
	
			<!-- Ayuda -->
			<li class="nav-item">
				<a class="nav-link" href="/Help">
					<i class="bi bi-question-circle"></i>
					<span>Ayuda</span>
				</a>
			</li>
	
	</aside>

	<!-- ======= Main ======= -->
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Ayuda</h1>
			<nav>
				<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Ayuda</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section contact">
			<div class="row">
                
                <h5 class="card-title bi bi-info-circle">   Preguntas Frecuentes</h5>

				<!-- Preguntas Frecuentes -->
                <div class="card">
                    <div class="card-body">
                        

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Pregunta #1
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Respuesta Generica #1</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Pregunta #2
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Respuesta Generica #1</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Pregunta #3
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Respuesta Generica #1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="card-title bi bi-person-circle">   Contacto</h5>

                <div class="row">

                    <div class="col-lg-3">
                        <div class="info-box card">
                            <i class="bi bi-envelope"></i>
                            <h3>Correo</h3>
                            <p>v3rtmt@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="info-box card">
                            <i class="bi bi-telegram"></i>
                            <h3>Telegram</h3>
                            <p>@Hvert_mt</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="info-box card">
                            <i class="bi bi-twitter"></i>
                            <h3>Twitter</h3>
                            <p>@Hvert_mt</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="info-box card">
                            <i class="bi bi-instagram"></i>
                            <h3>Instagram</h3>
                            <p>@hvert.mt</p>
                        </div>
                    </div>

                  </div>

			</div>
		</section>

	</main>

{% endblock%}