<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>MT Strategy</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	
	<!-- Favicons -->
	<link href="{{ url_for('static', filename='img/icono2.png') }}" rel="icon">

	<!-- CSS Imports -->  
	<div>

		<!-- Vendor CSS Files -->
		<link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">


		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.cryptofonts.com/1.4.0/cryptofont.css">

	</div>

</head>

<body>

	<!-- ======= Top-bar ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<!-- Logo -->
		<div class="d-flex align-items-center justify-content-between">
			<i class="bi bi-list toggle-sidebar-btn"></i>
			<a href="/" class="logo d-flex align-items-center">
				<span class="d-none d-lg-block">MT Strategy</span>
			</a>
		</div>

		<!-- Icons -->
		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<!-- Notification -->
				<li class="nav-item dropdown">

					<!-- Notification Icon -->
					<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-bell"></i>
						<span class="badge bg-primary badge-number">1</span>
					</a>

					<!-- Notification Dropdown -->
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
						<li class="dropdown-header">
							Tienes 1 nueva notificación
						<a href="/Notifications"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver Todas</span></a>
						</li>
						<li>
						<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
						<i class="bi bi-info-circle text-primary"></i>
						<div>
							<h4>Estás list@?</h4>
							<p>MT Strategy fase Alpha se acerca pronto</p>
							<p>27/05/22</p>
						</div>
						</li>
						<!--
						<li>
						<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
						<i class="bi bi-x-circle text-danger"></i>
						<div>
							<h4>Atque rerum nesciunt</h4>
							<p>Quae dolorem earum veritatis oditseno</p>
							<p>Hace 1 hr.</p>
						</div>
						</li>

						<li>
						<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
						<i class="bi bi-check-circle text-success"></i>
						<div>
							<h4>Sit rerum fuga</h4>
							<p>Quae dolorem earum veritatis oditseno</p>
							<p>Hace 2 hrs.</p>
						</div>
						</li>

						<li>
						<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
						<i class="bi bi-info-circle text-primary"></i>
						<div>
							<h4>Dicta reprehenderit</h4>
							<p>Quae dolorem earum veritatis oditseno</p>
							<p>Hace 4 hrs.</p>
						</div>
						</li>

						<li>
						<hr class="dropdown-divider">
						</li>
						<li class="dropdown-footer">
						<a href="#">Mostrar todas las notificaciones</a>
						</li>
								-->
					</ul>
				</li>

				<!-- Procfile -->
				<li class="nav-item dropdown pe-3">

					<!-- Procfile Icon -->
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img src="data:image/jpeg;base64,{{ user.profilePicture.img64 }}" alt="Profile" class="rounded-circle " width="38px" height="40px">
						<span class="d-none d-md-block dropdown-toggle ps-2">{{ user.name }}</span>
					</a>

					<!-- Procfile Dropdonw -->
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
						<h6>{{ user.name }}</h6>
						<span>{{ user.range }}</span>
						</li>
						<li>
						<hr class="dropdown-divider">
						</li>

						<li>
						<a class="dropdown-item d-flex align-items-center" href="/Profile">
							<i class="bi bi-person"></i>
							<span>Perfil</span>
						</a>
						</li>
						<li>
						<hr class="dropdown-divider">
						</li>

						<li>
						<a class="dropdown-item d-flex align-items-center" href="/Help">
							<i class="bi bi-question-circle"></i>
							<span>Ayuda</span>
						</a>
						</li>
						<li>
						<hr class="dropdown-divider">
						</li>

						<li>
						<a class="dropdown-item d-flex align-items-center" href="/Logout">
							<i class="bi bi-box-arrow-right"></i>
							<span>Cerrar Sesion</span>
						</a>
						</li>

					</ul>
				</li>

			</ul>
		</nav>

	</header>

	<!-- ======= Side-bar ======= -->
	<aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
    
            <!-- Dashboard -->
            <li class="nav-item">
            <a class="nav-link collapsed" href="/Dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
            </li>
    
            <!-- Notificaciones -->
            <li class="nav-item">
            <a class="nav-link " href="/Notifications">
                <i class="bi bi-bell"></i>
                <span>Notificaciones</span>
            </a>
            </li>
    
            <!-- Bots -->
            <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#bots-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-robot"></i><span>Bots</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="bots-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 1</span>
                </a>
                </li>
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 2</span>
                </a>
                </li>
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 3</span>
                </a>
                </li>
            </ul>
            </li>
    
            <!-- Monedas -->
            <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#cryptos-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-currency-exchange"></i><span>Monedas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="cryptos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="/BTC">
                    <i class="bi bi-coin"></i><span>Bitcoin</span>
                </a>
                </li>
                <li>
                <a href="/ETH">
                    <i class="bi bi-coin"></i><span>Ethereum</span>
                </a>
                </li>
                <li>
                <a href="/BNB">
                    <i class="bi bi-coin"></i><span>BNB</span>
                </a>
                </li>
                <li>
                <a href="SOL">
                    <i class="bi bi-coin"></i><span>Solana</span>
                </a>
                </li>
            </ul>
            </li>
    
            <!-- Status -->
            <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#stats-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Estadisticas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="stats-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 1</span>
                </a>
                </li>
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 2</span>
                </a>
                </li>
                <li>
                <a href="/Login">
                    <i class="bi bi-cpu"></i><span>Bot 3</span>
                </a>
                </li>
            </ul>
            </li>
    
            <!-- Perfil -->
            <li class="nav-item">
            <a class="nav-link collapsed" href="/Profile">
                <i class="bi bi-person"></i>
                <span>Perfil</span>
            </a>
            </li>
    
            <!-- Ayuda -->
            <li class="nav-item">
            <a class="nav-link collapsed" href="/Help">
                <i class="bi bi-question-circle"></i>
                <span>Ayuda</span>
            </a>
            </li>
    
        </aside>

	<!-- ======= Main ======= -->
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Notificaciones</h1>
			<nav>
				<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Notificaciones</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
                
                        <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                    </div>

                    <div class="card-body">
                    <h5 class="card-title">Actividad Reciente</h5>

                    <div class="activity">

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 22, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                            0.1.29
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 18, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.259
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 18, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.258
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.257
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.256
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.255
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.25
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.23
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.22
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.21
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 17, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.20
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">May 01, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.1.10
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 25, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                        <div class="activity-content">
                            0.1.9
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 25, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.1.8
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 25, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.7
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 25, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                            0.1.6
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 21, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.1.5
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 20, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.1.4
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 20, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                        <div class="activity-content">
                            0.1.3
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 20, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.1.2
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 19, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 19, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 05, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                            0.0.9.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 04, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                            0.0.9
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 02, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.0.8.2
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 02, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.0.8.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Apr 01, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.0.8
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 24, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7.5
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 24, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7.4
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 24, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7.3
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 23, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7.2
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 22, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 22, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.7
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 18, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                        <div class="activity-content">
                            0.0.6
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 12, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.7
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 12, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.6
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.5
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.4
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.3
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.2
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 11, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                            0.0.5
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 10, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            0.0.4
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 10, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                            0.0.3
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 08, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.0.2.1 
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 08, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                            0.0.2
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 03, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.1.1
                        </div>
                        </div>

                        <div class="activity-item d-flex">
                        <div class="activite-label">Mar 03, 2022</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                            0.0.1
                        </div>
                        </div>
                    </div>

                    </div>
                </div><!-- End Recent Activity -->
			</div>
		</section>

	</main>

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>MT Strategy</span></strong>. Todos los derechos reservados
		</div>
	</footer>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- JS Imports -->
	<div>

		<!-- Main JS File -->
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

		<!-- JS Files -->
		<script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
		<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

	</div>	

</body>

</html>