{% extends "Dashboard/template.html" %}

{% block content%}

  <!-- ======= Side-bar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<!-- Dashboard -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Dashboard">
					<i class="bi bi-columns-gap"></i>
					<span>Panel de Control</span>
				</a>
			</li>

			<!-- Notificaciones -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Notifications">
					<i class="bi bi-bell"></i>
					<span>Notificaciones</span>
				</a>
			</li>

			<!-- Bot -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#bots-nav" data-bs-toggle="collapse">
				  	<i class="bi bi-robot"></i><span>Bots</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="bots-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					{% for i in user.data.bots %}
						<li>
							<a href="/Bot/{{ i }}">
								<i class="bi bi-circle"></i><span>Bot {{ loop.index }}</span>
							</a>
						</li>
					{% endfor %}
					<li>
						<a href="/Bot/create">
							<i class="bi bi-circle"></i><span>Crear Bot</span>
						</a>
					</li>
				</ul>
			</li>

			<!-- Perfil -->
			<li class="nav-item">
				<a class="nav-link" href="/Profile">
					<i class="bi bi-person"></i>
					<span>Perfil</span>
				</a>
			</li>

			<!-- Ayuda -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Help">
					<i class="bi bi-question-circle"></i>
					<span>Ayuda</span>
				</a>
			</li>

	</aside>

	<!-- ======= Main ======= -->
	<main id="main" class="main">

		<div class="pagetitle">
		  <h1>Profile</h1>
		  <nav>
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
			  <li class="breadcrumb-item active">Profile</li>
			</ol>
		  </nav>
		</div><!-- End Page Title -->

		<section class="section profile">
		  <div class="row">
			<div class="col-xl-4">

			  <div class="card">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

				  <img src="data:image/jpeg;base64,{{ user.profilePicture.img64 }}" alt="Profile" class="rounded-circle " width="200px" height="115px">
				  <h2>{{ user.name }}</h2>
				  <h3>{{ user.range }}</h3>
				  <div class="social-links mt-2">
					<a href="#" class="telegram"><i class="bi bi-telegram"></i></a>
					<a href="#" class="envelope"><i class="bi bi-envelope"></i></a>
				  </div>
				</div>
			  </div>

			</div>

			<div class="col-xl-8">

			  <div class="card">
				<div class="card-body pt-3">
				  <!-- Bordered Tabs -->
				  <ul class="nav nav-tabs nav-tabs-bordered">

					<li class="nav-item">
					  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">General</button>
					</li>

					<li class="nav-item">
					  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar</button>
					</li>

					<li class="nav-item">
					  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Notificaciones</button>
					</li>

					<li class="nav-item">
					  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Restablecer contraseña</button>
					</li>

				  </ul>
				  <div class="tab-content pt-2">

					<div class="tab-pane fade show active profile-overview" id="profile-overview">

					  <h5 class="card-title">Perfil</h5>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label ">Nombre</div>
						<div class="col-lg-9 col-md-8">{{ user.name }}</div>
					  </div>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label">Usuario</div>
						<div class="col-lg-9 col-md-8">{{ user.username }}</div>
					  </div>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label">Rango</div>
						<div class="col-lg-9 col-md-8">{{ user.range }}</div>
					  </div>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label">Comisión Gral</div>
						<div class="col-lg-9 col-md-8">{{ user.range }}</div>
					  </div>

					  <h5 class="card-title">Contacto</h5>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label ">Email</div>
						<div class="col-lg-9 col-md-8">{{ user.data.credentials.email }}</div>
					  </div>

					  <div class="row">
						<div class="col-lg-3 col-md-4 label">Telegram</div>
						<div class="col-lg-9 col-md-8">@{{ user.data.credentials.telegram }}</div>
					  </div>

					</div>

					<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

					  <!-- Profile Edit Form -->
					  <form action="/Profile" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
						<div class="row mb-3">
						  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
						  <div class="col-md-8 col-lg-9">
							<img src="data:image/jpeg;base64,{{ user.profilePicture.img64 }}" alt="Profile" class="rounded-circle " width="200px" height="115px">
							<div class="pt-2">
								<input class="form-control" name="profilePicture" accept="image/png, image/jpeg, image/jpg" type="file" id="formFile">
								<!--<div class="row">
									<div class="col-10">
										<input class="form-control" name="profilePicture" accept="image/png, image/jpeg, image/jpg" type="file" id="formFile">
									</div>

									<div class="col-2">
										<a href="#" class="btn btn-danger" title="Eliminar imagen de perfil"><i class="bi bi-trash"></i></a>
									</div>

								</div>-->
							</div>
						  </div>
						</div>

						<div class="row mb-3">
						  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
						  <div class="col-md-8 col-lg-9">
							<input name="name" type="text" class="form-control" id="fullName" value="{{ user.name }}">
						  </div>
						</div>

						<div class="row mb-3">
						  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
						  <div class="col-md-8 col-lg-9">
							<input name="email" type="email" class="form-control" id="Email" value="{{ user.data.credentials.email }}">
						  </div>
						</div>

						<div class="row mb-3">
						  <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Telegram</label>
						  <div class="col-md-8 col-lg-9">
							<input name="telegram" type="text" class="form-control" id="Twitter" value="{{ user.data.credentials.telegram }}">
						  </div>
						</div>

						<div class="text-center">
						  <button type="submit" class="btn btn-primary">Guardar cambios</button>
						</div>
					  </form><!-- End Profile Edit Form -->

					</div>

					<div class="tab-pane fade pt-3" id="profile-settings">

					  <!-- Settings Form -->
					  <form>

						<div class="row mb-3">
						  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
						  <div class="col-md-8 col-lg-9">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="changesMade" {% if user.data.notifications.emailNotifications is true %} checked {% endif %} disabled>
							  <label class="form-check-label" for="changesMade">
								Notificaciones
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="newProducts" {% if user.data.notifications.emailChanges is true %} checked {% endif %} disabled>
							  <label class="form-check-label" for="newProducts">
								Cambios en tu cuenta
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="proOffers" {% if user.data.notifications.emailRegister is true %} checked {% endif %} disabled>
							  <label class="form-check-label" for="proOffers">
								Registros diarios
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="securityNotify" {% if user.data.notifications.emailCommissions is true %} checked {% endif %} disabled>
							  <label class="form-check-label" for="securityNotify">
								Cobro de comisiones
							  </label>
							</div>
						  </div>
						</div>

						<div class="row mb-3">
							<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Telegram</label>
							<div class="col-md-8 col-lg-9">
							  <div class="form-check">
								<input class="form-check-input" type="checkbox" id="changesMade" {% if user.data.notifications.telegramNotifications is true %} checked {% endif %} disabled>
								<label class="form-check-label" for="changesMade">
								  Notificaciones
								</label>
							  </div>
							  <div class="form-check">
								<input class="form-check-input" type="checkbox" id="newProducts" {% if user.data.notifications.telegramChanges is true %} checked {% endif %} disabled>
								<label class="form-check-label" for="newProducts">
								  Cambios en tu cuenta
								</label>
							  </div>
							  <div class="form-check">
								<input class="form-check-input" type="checkbox" id="proOffers" {% if user.data.notifications.telegramRegister is true %} checked {% endif %} disabled>
								<label class="form-check-label" for="proOffers">
								  Registros diarios
								</label>
							  </div>
							  <div class="form-check">
								<input class="form-check-input" type="checkbox" id="securityNotify" {% if user.data.notifications.telegramCommissions is true %} checked {% endif %} disabled>
								<label class="form-check-label" for="securityNotify">
								  Cobro de comisiones
								</label>
							  </div>
							</div>
						  </div>

						<div class="text-center">
						  <button type="submit" class="btn btn-primary disabled">Guardar cambios</button>
						</div>
					  </form><!-- End settings Form -->

					</div>

					<div class="tab-pane fade pt-3" id="profile-change-password">
					  <!-- Change Password Form -->
					  <form>

						<div class="row mb-3">
						  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
						  <div class="col-md-8 col-lg-9">
							<input name="password" type="password" class="form-control" id="currentPassword">
						  </div>
						</div>

						<div class="row mb-3">
						  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva contraseña</label>
						  <div class="col-md-8 col-lg-9">
							<input name="newpassword" type="password" class="form-control" id="newPassword">
						  </div>
						</div>

						<div class="row mb-3">
						  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirma nueva contraseña</label>
						  <div class="col-md-8 col-lg-9">
							<input name="renewpassword" type="password" class="form-control" id="renewPassword">
						  </div>
						</div>

						<div class="text-center">
						  <button type="submit" class="btn btn-primary disabled">Cambiar contraseña</button>
						</div>
					  </form><!-- End Change Password Form -->

					</div>

				  </div><!-- End Bordered Tabs -->

				</div>
			  </div>

			</div>
		  </div>
		</section>

	</main>

{% endblock%}