<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>MT Strategy</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="{{ url_for('static', filename='img/icono2.png') }}" rel="icon">

	<!-- CSS Imports -->  
	<div>

        <!-- Datatable -->
    	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

		<!-- Main CSS File -->
		<link href="{{ url_for('static', filename='assets/css/dashboardStyle.css') }}" rel="stylesheet">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	</div>

</head>

<body>

	<!-- ======= Top-bar ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<!-- Logo -->
		<div class="d-flex align-items-center justify-content-between">
			<i class="bi bi-list toggle-sidebar-btn"></i>
			<a href="/" class="logo d-flex align-items-center top-logo">
				<span class="d-none d-lg-block">MT Strategy</span>
			</a>
			<style>
				.top-logo{
					padding-left: 5px;
					padding-top: 2px;
				}
			</style>
		</div>

		<!-- Icons -->
		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<!-- Notification -->
				<li class="nav-item dropdown">

					<!-- Notification Icon -->
					<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-bell"></i>
					</a>

					<!-- Notification Dropdown -->
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
						<li class="dropdown-header">
							Tienes 0 notificaciónes nuevas
							<a href="/Notifications"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver Todas</span></a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="notification-item">
							<i class="bi bi-info-circle text-primary"></i>
							<div>
								<h4>Notificaciones</h4>
								<p>Ingresa a la pagina de notificaciones para ver más noticias</p>
							</div>
						</li>
					</ul>
				</li>

				<!-- Procfile -->
				<li class="nav-item dropdown pe-3">

					<!-- Procfile Icon -->
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img src="data:image/jpeg;base64,{{ user.profilePicture.img64 }}" alt="Profile" class="rounded-circle " width="40px" height="40px">
						<span class="d-none d-md-block dropdown-toggle ps-2">{{ user.name }}</span>
					</a>

					<!-- Procfile Dropdonw -->
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>{{ user.name }}</h6>
							<span>{{ user.range }}</span>
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="/Profile">
								<i class="bi bi-person"></i>
								<span>Perfil</span>
							</a>
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="/Help">
								<i class="bi bi-question-circle"></i>
								<span>Ayuda</span>
							</a>
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="/Logout">
								<i class="bi bi-box-arrow-right"></i>
								<span>Cerrar Sesion</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

	</header>

    {% block content %}
    {% endblock %}

    <!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>MT Strategy</span></strong>. Todos los derechos reservados
		</div>
	</footer>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- JS Imports -->
	<div>

		<!-- Main JS File -->
		<script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>

		<!-- JS Files -->
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</div>	

</body>

</html>